html  body {
    width: 400px;
    margin: auto;
}
 .first {
     width: 50px;
     height: 100px;
     background-color: rgb(16, 83, 164);
     color: white;
     float: left;
     border-top-left-radius: 3px;
     border-bottom-left-radius: 3px;
     

 }
 .second{
    width: 350px;
    height: 60px;
    background-color: rgb(55, 154, 177);
    float: right;
    border-top-right-radius: 3px;
    
 }
 .third{
    width: 350px;
    height: 40px;
    background-color: rgba(131, 174, 181, 1.52); 
    float: right;
    border-bottom-right-radius: 3px;
    
 }
 .i{
    margin: 20px 0px 0px 17.5px;
 }
 .tri {
    
 }
 
 .krest{
    color:gray; 
    float: right;
    margin: 15px 10px 0px 0px;
    height: 20px;
    width: 20px;
    font-size: small;
 }
 .pernadpis{
     height: 20px;
     width: 260px;
    float: left;
    margin: 25px 0px 0px 10px;
    font-family: sans-serif;
    font-size: small;
    font-weight: 520;

 }
 .trinanpis{
    height: 20px;
    width: 260px;
    float: left;
    margin: -5px 0px 0px 10px; 
    font-family: 'Courier New', Courier, monospace;
   
 }
 .All{
    margin-top: 10px;
    border-radius: 5px;
 }
 